.items-container {
  padding: 20px;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.tax-table {
  font-size: 0.8rem;
}

.tax-row {
  display: flex;
  gap: 4px;
}

table {
  width: 100%;
}
